* {
  font-family: 'Courier New', Courier, monospace;
  /* border: 1px solid lightpink; */
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.display {
  width: 225px;
  text-align: right;
  border: 1px solid #bebebe;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 4px;
}