@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', helvetica, sans-serif;
  font-size: 18px;
  color: #444;
  transition: 200ms;
  user-select: none;
}

body {
  background-color: #f1eeeb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f1eeeb;
  box-shadow: 
    3px 3px 5px #d0cecc,
    -3px -3px 5px #fefefe,
    inset -3px -3px 4px #d0cecc,
    inset 3px 3px 5px #fefefe;
  text-shadow: 1px 1px 1px #fefefe;
  width: 2rem;
  height: 2rem;
  margin: 1px;
  border-radius: 100%;
  border: none;
}

button:active {
  box-shadow:
    3px 3px 5px #fefefe,
    -3px -3px 5px #d0cecc,
    inset 3px 3px 4px #d0cecc,
    inset -3px -3px 5px #fefefe;
}

.calculator {
  background-color: #f1eeeb;
  box-shadow:
    5px 5px 15px #d0cecc,
    -5px -5px 20px #fefefe,
    inset -5px -5px 15px #d0cecc,
    inset 5px 5px 15px #fefefe;
  max-width: 270px;
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display {
  /* background-color: #f9f9f9; */
  background-color: #f1eeeb;
  box-shadow: 3px 3px 5px #fefefe, -3px -3px 5px #d0cecc;
  height: 2.25rem;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: right;
}

.operators {
  color: rgb(184, 44, 44);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.operators button {
  color: inherit;
}

.buttons {
  display: flex;
  align-items: stretch;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-flow: wrap-reverse;
}

.clear {
  align-self: flex-end;
  flex-shrink: 0;
  font-size: 14px;
}

.result {
  background-color: rgb(253, 253, 144);
}

.result:hover {
  background-color: rgb(255, 255, 130);
}